<header>
    <h1>{{title}}</h1>

    <a href="/">Home</a>
    <a href="/api/v1/stations?at=2020-08-31T20:00:00">EndPoint 1</a>
    <a href="/api/v1/stations/3004?at=2020-08-31T18:00:00">EndPoint 2</a>
</header>